@mixin generate-chevron-up($width, $color) {
    border-left: $width * 0.5 solid transparent;
    border-right: $width * 0.5 solid transparent;
    border-bottom: $width solid $color;
    height: 0rem;
    width: 0rem;
}

@mixin generate-chevron-down($width, $color) {
    border-left: $width * 0.5 solid transparent;
    border-right: $width * 0.5 solid transparent;
    border-top: $width solid $color;
    height: 0rem;
    width: 0rem;
}

@mixin generate-chevron-right($width, $color) {
    border-top: $width * 0.5 solid transparent;
    border-left: $width solid $color;
    border-bottom: $width * 0.5 solid transparent;
    height: 0rem;
    width: 0rem;
}

@mixin generate-cross($width, $color) {
    width: $width;
    height: $width;
    position: relative;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg); /* Safari and Chrome */

    &:before,
    &:after {
        content: "";
        position: absolute;
        z-index: -1;
        background-color: $color;
    }

    &:before {
        left: 50%;
        width: 20%;
        margin-left: -10%;
        height: 100%;
    }

    &:after {
        top: 50%;
        height: 20%;
        margin-top: -10%;
        width: 100%;
    }
}

@mixin text-overflow() {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
