name: deploy-docs

on:
  workflow_dispatch: {}

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          persist-credentials: false

      - name: Setup Node
        uses: actions/setup-node@v2.4.1
        with:
          node-version: '14'

      - name: Build
        run: |
          npm i
          npm run build:docs

      - name: Install SSH Client
        uses: webfactory/ssh-agent@v0.5.4
        with:
          ssh-private-key: ${{ secrets.DEPLOY_KEY }}

      - name: Deploy
        uses: JamesIves/github-pages-deploy-action@4.1.6
        with:
          ssh-key: true
          branch: gh-pages # The branch the action should deploy to.
          folder: docs/out # The folder the action should deploy.
