name: deploy-docs

on:
#  release:
#    types:
#      - published
  push:
    branches:
      - "master"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          persist-credentials: false

      - name: Setup Node
        uses: actions/setup-node@v2.1.2
        with:
          node-version: '14'

      - name: Build
        run: |
          npm i
          npm run build:docs

      - name: Install SSH Client
        uses: webfactory/ssh-agent@v0.4.1
        with:
          ssh-private-key: ${{ secrets.DEPLOY_KEY }}

      - name: Deploy
        uses: JamesIves/github-pages-deploy-action@3.6.2
        with:
          SSH: true
          BRANCH: gh-pages # The branch the action should deploy to.
          FOLDER: docs/out # The folder the action should deploy.
